<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<!-- Expanding cards? -->
<!-- sign up -->
FB oauth button

<%= form_for @user, url: new_user(@user), html: { method: :post } do |f| %>

	<div>
	  <%= f.label :user_name %><br>
	  <%= f.text_field :user_name %>
	</div>
	<div>
	  <%= f.label :email %><br>
	  <%= f.email_field :email %>
	</div>
	<div>
	  <%= f.label :password %><br>
	  <%= f.password_field :password %>
	</div>
	<div>
	  <%= f.label :password_confirmation %><br>
	  <%= f.password_field :password_confirmation %>
	<div>
	  <%= f.submit %>
	</div>
	</div>

<% end %>

<!-- sign in  -->
Sign in form 




