<div class="container center-align">
<h1>LOList</h1>

<h4>Select at least three comedians to get started.</h4>
<p>By selecting a comedian, you will begin to receive email notifications ONLY associated with the
	artists you are following.</p>
<br>
<%= link_to "I'm Ready!", user_path, class: "waves-effect waves-light green btn" %>
</div>

<div class='row'>

<% @comedians.each do |comedian| %>
<div class='col s4'>
	<div class='card small z-depth-2'>
		<div class='card-image'>
			<img src=<%= comedian.image %>>
			<span class='card-title teal-text text-darken-2 bold'> <%= comedian.name %> </span>
		</div>
	<div class="card-action">
		<i class="fa fa-question-circle fa-2x"></i>
		<% if @user.comedians.include?(comedian) %>
			<span id='comedian-<%= comedian.id %>' class='follow following'><i class="mdi-action-stars"></i></span>
    <% else  %>
      <span id='comedian-<%= comedian.id %>' class='follow'><i class="mdi-action-stars"></i></span>
    <% end  %>
    </div>
	</div>
</div>

<% end %>
