<h1>edit <%=@user.email  %></h1>
<p>Find me in app/views/user/edit.html.erb</p>

<%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>
<div class='row'>

<% @comedians.each do |comedian| %>
<div class='col s4'>
	<div class='card'>
		<div class='card-image'>
			<img src=<%= comedian.image %>>
			<span class='card-title'> <%= comedian.name %> </span>
		</div>
	<div class="card-action">
		<i class="fa fa-question-circle fa-2x"></i>
		<% if @user.comedians.include?(comedian) %>
			<span id='comedian-<%= comedian.id %>' class='follow following'><i class="mdi-action-stars"></i></span>
    <% else  %>
      <span id='comedian-<%= comedian.id %>' class='follow'><i class="mdi-action-stars"></i></span>
    <% end  %>
    </div>
	</div>
</div>

<% end %>
<% f.hidden_field :authenticity_token, value: form_authenticity_token() %> 


<%= f.submit 'Submit', class: 'btn blue' %>
</div>

<% end  %>
