<h1>edit <%=@user.email  %></h1>
<p>Find me in app/views/user/edit.html.erb</p>

<%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>
<div class='row'>

<% @comedians.each do |comedian| %>
<div class='col s4'>
	<div class='card'>
		<div class='card-image'>
			<img src=<%= comedian.image %>>
			<span class='card-title'> <%= comedian.name %> </span>
		</div>
	<div class="card-action">
	<p>
	<%= f.check_box(:comedian_id, {:multiple => true }, comedian.id, html: {name: "comedian_id", id: "test<%=comedian.id%>"}, nil) %>

    <label for="test<%=comedian.id%>"> <%= comedian.name  %>  </label>
  </p>
    <a href="#" onclick="this.style.backgroundColor='#990000'">Checked = red</a>
    </div>
	</div>
</div>

<% end %>
<% f.hidden_field :authenticity_token, value: form_authenticity_token() %> 


<%= f.submit 'Submit', class: 'btn blue' %>
</div>

<% end  %>
