<div class="container center-align">
<h1>LOList</h1>

<h4>Select at least three comedians to get started.</h4>
<p>By selecting a comedian, you will begin to receive email notifications ONLY associated with the
	artists you are following.</p>
<br>
<%= link_to "I'm Ready!", user_path, class: "waves-effect waves-light green btn" %>
</div>

<div class='row'>

<% @comedians.each do |comedian| %>
<div class='col s12 m4'>
	<div class='card small z-depth-2'>
		<div class='card-image' style="background-image: url(<%=comedian.image%>)">
			
			<span class='card-title grey-text text-darken-4'> <%= comedian.name %> </span>
				<div class="interaction-buttons z-depth-3">
			
			
				<i class="fa fa-youtube-play fa-2x activator grey-text text-darken-4"></i>
				<% if @user.comedians.include?(comedian) %>
					<span id='comedian-<%= comedian.id %>' class='follow following'><i class="mdi-action-stars grey-text text-darken-4"></i></span>
		    <% else  %>
		      <span id='comedian-<%= comedian.id %>' class='follow'><i class="mdi-action-stars grey-text text-darken-4"></i></span>
		    <% end  %>
		    </div>
		    <div class='hover bottom'></div>
	  	
	  </div>
	  <div class="card-reveal">
	    <span class="card-title grey-text text-darken-3"><%=comedian.name%> <i class="mdi-navigation-close right"></i></span>
	      <div class="video-container">
        <iframe width="560" height="349" src="<%=comedian.youtube_url%>" frameborder="0" allowfullscreen></iframe>
      </div>
	  </div>
	</div>
</div>

<% end %>

