<div class="container center-align">
    <h3 id='find-me'></h3>
    <div id='user-<%=@user.id%>'>
    </div>
</div>
<h4 class="flow-text">Thanks for signing up! We'll email you as soon as your favorite comedians are performing near you! Meanwhile, check out some more funny acts below!</h4>
<%= render partial: 'faves', locals: { faves: @faves }  %>

<% @faves.each do |comedian| %>
<div class='col s12'>
    <div class="card row faveComs">
        
        <span id='comedian-<%= comedian.id %>' class='index-follow index-following'><i class="fav fa fa-star right"></i></span>
            <div class='card col thumbnail' style="background:  url(<%=comedian.image%>) no-repeat center center; background-size: cover" >
            </div>
            <div class="col s9 card-content">

            <% if @user_events.where(comedian_id: comedian.id) != nil %>
            <h4 class = "grey-text text-darken-4"><%= comedian.name %>
            <% if comedian.events.include?(@latest) %>@ <%= @latest.venue  %>
            </h4>
            <h5 class = "flow-text grey-text text-darken-4" id="countdown-holder"></h5><input type="hidden" id="date" value="<%= @latest.datetime_local  %>" >
            <div class="right">
                <p class="flow-text grey-text text-darken-4">Tickets left: <%= @latest.ticket_count  %></p>
                <a class = "btn yellow darken-2 white-text" href="<%= @latest.url %>">Buy your ticket here!</a>
            </div>
            
            <% end  %>
            <% else %>
            <h4 class = "comedian-name"><%= comedian.name %></h4>
            <% end %>
            </div>
            
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4 right">Click for more info<i class="mdi-navigation-more-vert right"></i></span>
            
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= comedian.name %><i class="mdi-navigation-close right"></i></span>
                <div class='card' style="background:  url(<%=comedian.image%>) no-repeat center center; background-size: cover" ></div>
                <span id='comedian-<%= comedian.id %>' class='index-follow index-following'><i class="fav fa fa-star right"></i></span>
                
                <% if @user_events.where(comedian_id: comedian.id).length >= 2 %>

                <a class='dropdown-button btn-flat left' href='' data-activates='dropdown<%= comedian.id  %>'>Additional dates</a>
                <ul id='dropdown<%= comedian.id  %>' class='dropdown-content'>
                    <% @user_events.each do  |event| %>
                    <% if event.comedian_id == comedian.id  %>
                    <!-- Modal Trigger -->
                    <li class="grey-text text-darken-4"> <%= event.datetime_local.to_time.strftime('%B %e at %l:%M %p')  %> </li>
                    <li class="grey-text text-darken-4"><%= event.venue  %></li>
                    <li class="grey-text text-darken-4"><%= event.address  %> </li>
                    <li class="divider"></li>
                    <% end  %>
                    <% end  %>
                </ul>
                <% end  %>
                <i class="fa fa-youtube-play large fa-2x grey-text text-darken-3 right modal-trigger col s2" href="#modal<%=comedian.id %>"></i>
            </div>

    </div>
    <!-- Modal Structure -->
    <div id="modal<%= comedian.id %>" class="modal">
        <div class="modal-content">
            <div class="video-container">
                <iframe width="560" height="349" src="<%=comedian.youtube_url%>" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <% end %>
    <div class="divider"></div>
    <h5 class = 'center-align'>See who else makes you LOL...</h5>
    <div class="divider"></div>
    <div class="row">
        <% @nonfaves.each do |comedian| %>
        <div class='col s12 m4'>
            <div class='card small z-depth-2'>
                <div class='card-image thumbnail' style="background:  url(<%=comedian.image%>) no-repeat center center; background-size: cover" >
                <span class='card-title grey-text text-darken-4'> <%= comedian.name %> </span>    
                    <span id='comedian-<%= comedian.id %>' class='index-follow'><i class="fav fa fa-star-o right"></i></span>
                </div>

                <!-- Modal Trigger -->
                <a class="fa fa-youtube-play fa-2x grey-text text-darken-3 right modal-trigger" href="#modal<%=comedian.id %>"></a>
                <!-- <i class="fa fa-youtube-play fa-2x activator grey-text text-darken-3 right"></i> -->
                <i class=""></i>


                
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal<%= comedian.id %>" class="modal">
            <div class="modal-content">
                <div class="video-container">
                    <iframe width="560" height="349" src="<%=comedian.youtube_url%>" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <% end %>
    </div>


