<div class="container center-align">
    <h3 id='find-me'></h3>
    <div id='user-<%=@user.id%>'>
    </div>
</div>

<% @faves.each do |comedian| %>

<div class='col s12'>
    <div class="card faveComs">
        <div class='col s3'>
            <img src='<%= comedian.image %>' class="col s3 comedian-index">
        </div>
        <% if @user_events.where(comedian_id: comedian.id) != nil %>
            <h4 class = "comedian-name"><%= comedian.name %> 
            <% if comedian.events.include?(@latest) %>@ <%= @latest.venue %>
            <% end  %>
            </h4>

        <% else %>
            <h4 class = "comedian-name"><%= comedian.name %>
        <% end %>
        <div class="card-image waves-effect waves-block waves-light">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 right">Show info<i class="mdi-navigation-more-vert right"></i></span>
            
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= comedian.name %><i class="mdi-navigation-close right"></i></span>
            <img class = 'insideDivImg' src='<%= comedian.image %>'>
            <br>
            
            <span id='comedian-<%= comedian.id %>' class='index-follow index-following'><i class="mdi-action-stars right"></i></span>
            <!-- Modal Trigger -->
            
            <a class='dropdown-button btn-flat' href='' data-activates='dropdown<%= comedian.id  %>'>Additional dates</a>
            <ul id='dropdown<%= comedian.id  %>' class='dropdown-content'>

                <% @user_events.each do  |event| %>
                <% if event.comedian_id == comedian.id  %>
                        <li class="grey-text text-darken-4"> When: <%= event.datetime_local.to_time.strftime('%B %e at %l:%M %p')  %> </li>
                        <li class="grey-text text-darken-4">Where: <%= event.venue  %>: <p class="grey-text text-darken-4"><%= event.address  %> </p>
                <li class="divider"></li>
                    <% end  %>
                <% end  %>
            </ul>
            <i class="fa fa-youtube-play large fa-2x grey-text text-darken-3 right modal-trigger" href="#modal<%=comedian.id %>"></i>
            
        </div>
    </div>
</div>
<!-- Modal Structure -->
  <div id="modal<%= comedian.id %>" class="modal">
    <div class="modal-content">
        <div class="video-container">
            <iframe width="560" height="349" src="<%=comedian.youtube_url%>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
<% end %>
<div class="divider"></div>
<h5 class = 'center-align'>See who else makes you LOL...</h5>
<div class="divider"></div>
<div class="row">
    <% @nonfaves.each do |comedian| %>
    <div class='col s12 m4'>
        <div class='card small z-depth-2'>
            <div class='card-image'>
                <img src=<%= comedian.image %>>
                <i class="fa fa-youtube-play fa-2x activator grey-text text-darken-3 right"></i>
                <% if @user.comedians.include?(comedian) %>
                <span id='comedian-<%= comedian.id %>' class='index-follow index-following'><i class="fav fa fa-star-o right"></i></span>
                <% else  %>
                <span id='comedian-<%= comedian.id %>' class='index-follow'><i class="fav fa fa-star-o right"></i></span>
                <% end  %>
                <span class='card-title grey-text text-darken-3 bold'> <%= comedian.name %> </span>
            </div>
            <!-- Modal Trigger -->
            <a class="fa fa-youtube-play fa-2x grey-text text-darken-3 right modal-trigger" href="#modal<%=comedian.id %>"></a>

            <!-- <i class="fa fa-youtube-play fa-2x activator grey-text text-darken-3 right"></i> -->
            <i class=""></i>
            
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-3"><%=comedian.name%> <i class="mdi-navigation-close right"></i></span>
                
            </div>
        </div>
    </div>


  <!-- Modal Structure -->
  <div id="modal<%= comedian.id %>" class="modal">
    <div class="modal-content">
        <div class="video-container">
            <iframe width="560" height="349" src="<%=comedian.youtube_url%>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
    <% end %>
</div>