<!DOCTYPE html>
<html>
  <head>
    <title>LOList</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/<%= materialize_version %>/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/<%= fa_version %>/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/<%= materialize_version %>/js/materialize.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
    <body class = "<%= controller_name %> <%= action_name %> grey lighten-4">
    
      

      <%= yield %>

      </div>
    
    </body>

</html>
