<!DOCTYPE html>
<html>
  <head>
    <title>LOList</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/<%= materialize_version %>/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/<%= fa_version %>/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/<%= materialize_version %>/js/materialize.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
    <body class = "<%= controller_name %> <%= action_name %> grey lighten-4">
      
      <div class="navbar-fixed">
        <nav class = "yellow darken-2">
          <div class="nav-wrapper z-depth-2">
            <a href="/" class="brand-logo center "><div class="logocust"><% if user_signed_in? %><%= image_tag "My_LOList_Logo_v2.png", {style: "margin-top: 21px;", height: 57}  %> <% else %><%= image_tag "LOList_Logo_v2.png", {style: "margin-top: 21px;", height: 57}  %><% end  %></div></a>
              <ul class="right">
                <li>
                <!-- Modal Trigger -->
                <% if !current_user %>
                <div class="valign-wrapper">
                  <a id="login-button" class="modal-trigger valign black-text" href="#modal1" style="margin-top: 2px;">Sign in</a>
                </div>
                <% end %>
                <% if user_signed_in? %>
                <!-- Edit Cog Button -->
                <li>
                <%= link_to(
                    content_tag(
                      :i,
                      nil, 
                      class: 'mdi-action-settings tiny'
                    ), 
                    edit_user_registration_path,
                    style:
                      "color:#fff"
                  ) 
                %>
                </li>
               <!-- Sign out -->

                <%= link_to(
                    content_tag(
                      :li,
                      "Sign out"
                    ), 
                    destroy_user_session_path,
                    method: :delete,
                    style:
                      "color:#fff" 
                  ) 
                %>
                </li>
                <% end  %>
                
            </ul>
          </div>
        </nav>
      </div>

      <div class="container-fluid">

      <%= yield %>

      </div>
    
    </body>

</html>
